/*  import google fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  font-size: 30px;
  border: none;
  background: transparent;
}

button i {
  font-size: 40px;
  color: grey;
}

.footer {
  position: absolute;
  padding: 20px 5px;
  font-family: Poppins;
  color: #636363;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 1px;
  bottom: 0px;
}

.footer i {
  color: crimson;
}
.footer a {
  color: var(--theme-color);
}
